<div class="list-wrapper">
    <div class="container">
        <p class="text-center"> 1 of 10 matches</p>
        <button class="back-button btn btn-default btn-sm"> Back </button>
        <div>
            <div class="element" >
                <img alt=""/>
                <div class="info">
                    <p class="price">{{$ctrl.info}}</p>
                    <p class="details">Texttexttext</p>
                </div>
            </div>
            <div class="element" >
                <img alt=""/>
                <div class="info">
                    <p class="price">15.00</p>
                    <p class="details">Texttexttext</p>
                </div>
            </div>
            <div class="element" >
                <img alt=""/>
                <div class="info">
                    <p class="price">15.00</p>
                    <p class="details">Texttexttext</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="preloader"></div>
