<div class="list-wrapper">
    <div class="container">
        <p class="text-center"> {{$ctrl.newList.length}} of {{$ctrl.newList.length}}</p>
        <button class="back-button btn btn-default btn-sm" onclick="history.back()"> Back </button>
        <div>
            <div class="element"  ng-repeat="house in $ctrl.newList">
                <img src="{{house.img_url}}" />
                <div class="info">
                    <p class="price">{{house.price}}</p>
                    <p class="details">{{house.summary}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="preloader"></div>
