<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>PropertyCross</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="bundle.js"></script>
    <script src="app.js"></script>
    <!--<link rel="stylesheet" href="node_modules/angular/angular-csp.css">-->
    <!--<link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">-->
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="header">
            <h3>PropertyCross </h3>
            <button class="fav-button btn btn-default btn-sm">Faves</button>
        </div>
    </div>

    <div>
        <p>
            Use the form below to search for houses to buy. You can search by place-name, postcode, or clock 'My location', to search in your current location
        </p>
        <form ng-submit="" class="">
            <input type="text" placeholder="newcastle" ng-model="location" class="form-control location-inpt"/>
            <button ng-click="search(location)" type="submit" class="btn btn-default btn-sm">Go</button>
            <button ng-click="myLocation()" class="btn btn-default btn-sm">My location</button>
        </form>
    </div>
</div>

</body>

</html>