<div class="container">
    <div class="wrapper">
        <div class="header">
            <h3>{{$ctrl.greeting}} PropertyCross </h3>
            <button class="fav-button btn btn-default btn-sm">Faves</button>
        </div>
    </div>

    <div>
        <p>
            Use the form below to search for houses to buy. You can search by place-name, postcode, or clock 'My location', to search in your current location
        </p>
        <form ng-submit="" class="">
            <input type="text" placeholder="newcastle" ng-model="location" class="form-control location-input"/>
            <button ng-click="$ctrl.goSearch(location)" type="button" class="btn btn-default btn-sm">Go</button>
            <button class="btn btn-default btn-sm">My location</button>
        </form>
    </div>
    <div ui-view="resultView"></div>
</div>