<div class="container">
    <div class="wrapper">
        <div class="header">
            <h3>{{$ctrl.greeting}} PropertyCross </h3>
            <button class="fav-button btn btn-default btn-sm" ng-click="$ctrl.showFavorite()">Faves</button>
        </div>
    </div>

    <div>
        <p>
            Use the form below to search for houses to buy. You can search by place-name, postcode, or clock 'My location', to search in your current location
        </p>
        <form ng-submit="" class="">
            <input type="text" placeholder="newcastle" ng-model="loc" class="form-control location-input"/>
            <button ng-click="$ctrl.goSearch(loc)" type="button" class="btn btn-default btn-sm">Go</button>
            <button class="btn btn-default btn-sm" ng-click="$ctrl.myLocation()">My location</button>
        </form>
    </div>

    <div class="search-wrapper">
        <p>Recent searches:</p>
        <ul class="search-result list-unstyled">
            <li ng-repeat="item in $ctrl.recentSearchList track by $index" ng-click="$ctrl.searchFromRecentList(item)">
                {{ item }}
            </li>
        </ul>
    </div>

    <div ui-view="resultView"></div>
</div>